.clickable:hover {
  cursor: pointer;
}

#app {
  margin-top: 10px;
  margin-bottom: 20px;
}

.rotating img {
  animation: rotation 40s infinite linear;
  -webkit-animation: rotation 40s infinite linear;
}

.ui.secondary.menu .header.item:hover {
  background: transparent;
}

.ui.horizontal.bulleted.list {
  margin-left: 10px;
}

td .ui.header a {
  display: block;
}

.ui.left.aligned.header {
  text-align: center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@media (min-width: 991px) {
  td .ui.header a {
    display: inline;
  }

  .ui.left.aligned.header {
    text-align: left;
  }
}
